# Hugo build output
/public/
/resources/_gen/
.hugo_build.lock

# Node.js
node_modules/
/.node/

# Operating System files
Thumbs.db
Desktop.ini
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
